		</div>
	</div>
	<section class="rightbar">
		<h3>Stuff you should check out</h3>
		<p>
			<a href="http://morningpages.net" title="Morning Pages - Online journaling software with no bulk">Morningpages.net</a> - Online journaling software with no bulk
		</p>
		<p>
			<a href="http://ellenbrook.github.io" title="Eric Ellenbrook">Eric Ellenbrook</a> - All around good guy, with fantastic front-end skills and an interesting blog.
		</p>
	</section>
</div>

<footer>
	<span class="fa fa-user"></span> Daniel Valentin &middot; <a href="tel:+4521390297"><span class="fa fa-mobile"></span> +45 21 39 02 97</a> &middot; <a href="mailto:saktomail@gmail.com?subject=Just want you to know that you're awesome!"><span class="fa fa-envelope-o"></span> saktomail@gmail.com</a>
</footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/media/js/global.js"></script>

