<div class="row">
	<aside class="sidebar">
		<header>
			<h1 class="logo"><a href="/" title="{{ site.title }}">{{ site.title }}</a></h1>
		</header>
		<nav>
			<ul>
				<li>
					{% if page.url == '/about/' or page.url == '/about/webdevelopment/' %}
						<a href="/about/" class="active">About</a>
					{% else %}
						<a href="/about/" class="">About</a>
					{% endif %}
				</li>
				<li>
					{% if page.url == '/projects/' %}
						<a href="/projects/" class="active">Projects</a>
					{% else %}
						<a href="/projects/" class="">Projects</a>
					{% endif %}
				</li>
				<li>
					{% if page.url == '/blog/' %}
						<a href="/blog/" class="active">Blog</a>
					{% else %}
						<a href="/blog/" class="">Blog</a>
					{% endif %}
				</li>
			</ul>
		</nav>
		<div class="social">
			<a href="https://github.com/Sakto" title="Me on Github"><i class="fa fa-github"></i></a>
		</div>
	</aside>
	<div class="main">
		<article>