<section class="container" id="topwrap">
	<div id="top">
		<div class="pull-left contacts">
			<a href="https://github.com/Sakto" title="My Github repo"><span class="fa fa-github"> </span></a>
		</div>
		<nav class="pull-right">
			<ul>
				<li>
					<a href="/contact/">Contact</a>
				</li>
				<li>
					<a href="https://github.com/Sakto" title="My Github repo"><span class="fa fa-github"> </span></a>
					<a href="https://twitter.com/paxsakto" title="My Twitter"><span class="fa fa-twitter"> </span></a>
				</li>
			</ul>
		</nav>
	</div>
</section>

<header id="header">
	<h1 class="logo"><a href="/" title="{{ site.title }}">{{ site.title }}</a></h1>
	<nav>
		<ul>
			<li>
				<a href="/about/">About</a>
			</li>
			<li>
				<a href="/projects/">Projects</a>
			</li>
			<li>
				<a href="/blog/">Blog</a>
			</li>
		</ul>
	</nav>
</header>