.sidebar
{
	padding-top:flex-gutter(12);
	background:#2b4754;
	position:fixed;
	left:flex-gutter(12);
	height:100%;
	text-align:center;
	@include span-columns(2);
	@include drop-shadow(2);
	
	@include tabletandmobile {
		@include span-columns(12);
		position:static;
		margin-top:0;
		height:auto;
		float:none;
	}
	
	h1
	{
		padding:0 20px 20px 20px;
		margin-bottom:0;
		border-bottom:1px solid darken($theme-blue, 5);
		
		@include tinydesktop {
			font-size:1em;
		}
		@include smalldesktop {
			font-size:1.8em;
		}
		@include tablet {
			margin-top:0;
		}
		
		a
		{
			color:#EEE;
			&:hover
			{
				color:#EEE;
				text-decoration:none;
				border-bottom:0;
			}
		}
	}
	nav
	{
		ul
		{
			margin:0;
			padding:0;
			border-bottom:1px solid lighten($theme-blue, 5);
			li
			{
				list-style-type:none;
				a
				{
					transition: background-color 0.5s ease;
					background:none;
					display:block;
					padding:5px 20px;
					border-bottom:1px solid darken($theme-blue, 5);
					border-top:1px solid lighten($theme-blue, 5);
					color:#EEE;
					font-weight:400;
					
					&:hover
					{
						transition: background-color 0.5s ease;
						background:$theme-blue-light;
					}
					&.active
					{
						background:darken($theme-blue, 5);
					}
				}
			}
		}
	}
	.social
	{
		padding:20px;
		padding-top:40px;
		@include tabletandmobile {
			padding-top:20px;
		}
		a
		{
			color:#FFF;
			font-size:1.4em;
			margin-right:15px;
			@include smalldesktop {
				font-size:1.2em;
				margin-right:5px;
			}
			@include tinydesktop {
				font-size:1em;
				margin-right:0;
			}
			&:hover
			{
				color:#FFF;
				border:0;
			}
		}
	}
}
.main
{
	background:#FFF;
	margin:20px 0 15px 20px;
	padding-bottom:100px;
	@include drop-shadow(2);
	@include span-columns(10);
	border:1px solid #CCC;
	padding-left:flex-gutter(12);
	
	@include tinydesktop {
		@include span-columns(12);
		float:none;
		width:auto;
		margin-right:20px;
	}
	
	@include tabletandmobile {
		@include span-columns(12);
		float:none;
		width:auto;
		margin-right:20px;
	}
	
	@include mobile {
		margin:0;
		padding-bottom:0;
	}
	
	.content
	{
		@include shift(2);
		padding:flex-gutter(12);
		
		@include tabletandmobile {
			padding:20px;
			margin:0;
		}
		header
		{
			> h2
			{
				margin-top:0;
			}
		}
		
	}
}
.rightbar
{
	@include span-columns(2);
	padding-top:flex-gutter(12);
	@include omega();
	margin-left:-20px;
	color:#999;
	
	@include tinydesktop {
		display:none;
	}
	
	@include tabletandmobile {
		display:none;
	}
	
	> h3
	{
		margin-top:0;
	}
	
	h3
	{
		color:#999;
	}
	
}
footer
{
	@include shift(2);
	padding-left:flex-gutter(12);
	margin-bottom:100px;
	color:#999;
	font-style:italic;
	a
	{
		color:#999;
	}
	.skype
	{
		display:inline;
	}
}
