$tablet-width: 768px;
$medium-desktop-width:1465px;
$small-desktop-width: 1024px;

$theme-blue: #2B4754;
$theme-blue-light: #325261;
$theme-yellow: #c1d730;
$theme-purple: #ec008c;
$theme-green: #00a651;