body
{
	
}
.row
{
	@include row;
	position:relative;
	overflow:hidden;
}
.sidebar
{
	padding-top:20px;
	background:#2b4754;
	position:fixed;
	left:40px;
	height:100%;
	text-align:center;
	@include span-columns(2);
	@include drop-shadow(2);
	
	@include tabletandmobile {
		@include span-columns(12);
		position:static;
		margin-top:0;
		height:auto;
		float:none;
	}
	
	h1
	{
		padding:0 20px 20px 20px;
		margin-bottom:0;
		border-bottom:1px solid darken($theme-blue, 5);
		a
		{
			color:#EEE;
			&:hover
			{
				color:#EEE;
				text-decoration:none;
				border-bottom:0;
			}
		}
	}
	nav
	{
		ul
		{
			margin:0;
			padding:0;
			border-bottom:1px solid lighten($theme-blue, 5);
			li
			{
				list-style-type:none;
				a
				{
					transition: background-color 0.5s ease;
					background:none;
					display:block;
					padding:5px 20px;
					border-bottom:1px solid darken($theme-blue, 5);
					border-top:1px solid lighten($theme-blue, 5);
					color:#EEE;
					font-weight:400;
					
					&:hover
					{
						transition: background-color 0.5s ease;
						background:darken($theme-blue, 5);
					}
					&.active
					{
						background:darken($theme-blue, 5);
					}
				}
			}
		}
	}
	.social
	{
		position:absolute;
		bottom:0;
	}
}
.main
{
	padding-bottom:100px;
	background:#FFF;
	margin:20px 0 100px 20px;
	@include drop-shadow(2);
	@include span-columns(10);
	border:1px solid #CCC;
	
	@include tabletandmobile {
		@include span-columns(12);
		float:none;
		width:auto;
		margin-right:20px;
	}
	
	@include mobile {
		margin:0;
		padding-bottom:0;
	}
	
	article
	{
		@include shift(2);
		padding-right:flex-gutter(12);
		padding-left:flex-gutter(7);
		
		@include tabletandmobile {
			padding:20px;
			margin:0;
		}
	}
}
.rightbar
{
	@include span-columns(2);
	margin-top:20px;
	@include omega();
	margin-left:-20px;
	color:#999;
	padding-top:20px;
	
	@include tabletandmobile {
		display:none;
	}
}
